body {
  margin-bottom: 215px;
  position: relative;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #d8d3d375;
}
.gag-item {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: auto;
  border-radius: 8px;
  box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  overflow: hidden;
  margin: 10px;
  margin-bottom: 4px;
}
.icon {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.gag-contant {
  display: grid;
  align-items: center;
  padding: 14px;
  background-color: #fff;
  color: #000000;
}

.gag-create {
  align-items: center;
}

.button {
  display: flex;
  align-items: center;
  margin: 7px;

  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;

  border-width: 1px;
  border-style: solid;

  color: #fff;

  --primary-bg: #5677b8;
  --secondary-bg: #8170d7;
  --success-bg: #73c480;
  --warning-bg: #c0cb48;
  --danger-bg: #cb4848;
}
.primary-button {
  background-color: var(--primary-bg);
  border-color: var(--primary-bg);
}
.secondary-button {
  background-color: var(--secondary-bg);
  border-color: var(--secondary-bg);
}
.success-button {
  background-color: var(--success-bg);
  border-color: var(--success-bg);
}
.warning-button {
  background-color: var(--warning-bg);
  border-color: var(--warning-bg);
}
.danger-button {
  background-color: var(--danger-bg);
  border-color: var(--danger-bg);
}
.rounded-button {
  border-radius: 290486px;
}

.modal-closed {
  /* Positioning */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* Background Color */
  background-color: #d1d5db;

  /* Opacity */
  opacity: 0.8;
}

.modal-opend {
  /* Positioning */
  position: fixed;
  top: 10%;
  right: 25%;
  bottom: 25%;
  left: 25%;
  /* Padding */
  padding: 10px;
  border-radius: 8px;
  background-color: #fff;
}

.modal-children {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.action-bar {
  display: flex;
  justify-content: flex-end;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.gag-image {
  height: 350px;
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.outer-skeleton {
  position: relative;
  overflow: hidden;
  background-color: #e5e7eb;
  border-radius: 0.375rem;
  margin-bottom: 0.625rem;
}

@keyframes shimmer {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.inner-skeleton {
  animation: shimmer 3s infinite;
  position: absolute;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  transform: translateX(-100%);

  background: linear-gradient(to right, #e5e7eb, #ffffff, #e5e7eb);
}

.gag-list {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.active-skeleton {
  height: 10px;
  width: 100%;
}

.gag-icons {
  display: flex;
  margin: 7px;
}

.create-modal {
  display: flexbox;
  /* flex-direction:  column; */
}

.create-modal label {
  margin-bottom: 10px;
}
.reaction-bar {
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 2px;
  border-top: 2px solid #d1d5db;
}
.reaction-bar > * {
  margin-right: 2px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gag-comments {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: auto;
  border-radius: 4px;
  box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  overflow: hidden;
  margin: 10px;
  margin-top: 1px;
}

.comments-title {
  margin: 5px;
  padding: 2px;
  border-bottom: 2px solid #d1d5db;
}

.comments-contant {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  word-wrap: break-word;
  height: auto;
}

.no-comment {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-radius: 5px;
  margin: 5px 0;
}
.comment-form {
  display: flex;
  align-items: center;
}

.comment-create {
  display: flex;
  align-items: flex-start;
  margin: 5px;
  padding: 2px;
  border-top: 1px solid #d1d5db;
}

.comment-input {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 600px;
}
.comment-input:focus {
  outline: none;
  border-color: #8170d7;
}
