body {
  margin-bottom: 215px;
  position: relative;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.gag-item {
  width: 300px;
  height: auto;
  border-radius: 8px;
  box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  overflow: hidden;
  margin: 10px;
}
.icon {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.gag-contant {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  color: #000000;
}

.gag-create {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* 
Button styling
*/
.button {
  /* Flex */
  display: flex;
  align-items: center;

  /* Padding */
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;

  /* Border */
  border-width: 1px;
  border-style: solid;
}
.primary-button {
  background-color: #5677b8;
  border-color: #5677b8;
  color: #fff;
}
.secondary-button {
  background-color: #8170d7;
  border-color: #8170d7;
  color: #fff;
}
.success-button {
  background-color: #73c480;
  border-color: #73c480;
  color: #fff;
}
.warning-button {
  background-color: #c0cb48;
  border-color: #c0cb48;
  color: #fff;
}
.danger-button {
  background-color: #cb4848;
  border-color: #cb4848;
  color: #fff;
}
.rounded-button {
  border-radius: 999px;
}

.modal-closed {
  /* Positioning */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* Background Color */
  background-color: #d1d5db;

  /* Opacity */
  opacity: 0.8;
}

.modal-opend {
  /* Positioning */
  position: fixed;
  top: 40px;
  right: 40px;
  bottom: 40px;
  left: 40px;

  /* Padding */
  padding: 10px;

  /* Background Color */
  background-color: #fff;
}
.modal-children {
  /* Flex Container */
  display: flex;
  flex-direction: column;

  /* Justify Content */
  justify-content: space-between;

  /* Height */
  height: 100%;
}
.action-bar {
  /* Flex Container */
  display: flex;

  /* Justify Content */
  justify-content: flex-end;
}

.navbar {
}
