.gag-item {
  width: 300px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  overflow: hidden;
  margin: 10px;
}
.icon {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.app {
  margin-bottom: 215px;
  position: relative;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}
.gag-contant {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #6e91d6;
  color: #fff;
}

/* 
Button styling
037644444

*/
.primary-button {
  background-color: #4853cb;
  border-color: #444fd0;
}
.secondary-button {
  background-color: #8170d7;
  border-color: #7560de;
}
.warning-button {
  background-color: #c0cb48;
}
.danger-button {
  background-color: #cb4848;
}
