.gag-item {
  width: 300px;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #6e91d6;
  overflow: hidden;
  margin: 1em;
}
.icon {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.app {
  margin-bottom: 215px;
  position: relative;
}
